@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

img[alt~="www.000webhost.com"] {
    display:none
}

body,html {
    padding: 0;
    margin: 0;
    background-color: rgba(18, 18, 18, 0.63);
    height: fit-content;
}

::-webkit-scrollbar {
    display: none;
}

.title {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    padding: 10px 15px;
}

.title a {
    padding-top: 10px;
    width: fit-content;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Anastasia Script Personal Use', sans-serif;
    background: linear-gradient(138deg, red 20%, rgba(255,255,0,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main {
    transition: 0.4s ease-in-out;
    margin: 0 auto;
    width: fit-content;
}

.main:hover {
    transform: scale(1.3);
}

.miniTitle {
    font-size: 60px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-in-out;
    -webkit-background-clip: text;
}

.miniTitle:hover {
    font-size: 64px;
}

.container {
    columns: 4 200px;
    column-gap: 10px;
    margin: 0 20px;
    padding-bottom: 10px;
}

.saparate {
    column-span: all;
    filter: contrast(100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    width: 80%;
}


img {
    width: 100%;
    transition: 0.3s ease-in-out;
    margin: 5px;
    filter: contrast(80%);
    border-radius: 10px;
}

img:hover {
    filter: contrast(100%);
    transform: scale(1.02);
}


@media (max-width: 681px){
    .container {
        columns: 2;
    }
}

@media (hover:none) {
    img:hover {
        filter: contrast(80%);
        transform: scale(1);
    }

    img:active {
        filter: contrast(100%);
        transform: scale(1.02);
    }

}